/* Estilos básicos para o formulário de cadastro */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #0f3460; /* Cor principal para o título */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Cor do texto das labels */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; /* Cor do texto dos inputs */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0f3460; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d2d57; /* Cor mais escura ao passar o mouse */
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.form-footer a {
    color: #0f3460; /* Cor dos links */
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

